<a href="https://colab.research.google.com/github/shrapple/deep-learning-challenge/blob/main/Starter_Code_Optimization.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Preprocessing

In [24]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [25]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(['EIN', 'NAME'], axis = 1)
application_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [26]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [27]:
# Look at APPLICATION_TYPE value counts for binning
application_types =application_df['APPLICATION_TYPE'].value_counts()
application_types

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [28]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
cutoff_value = 500
applications = application_df['APPLICATION_TYPE'].value_counts()
application_types_to_replace = applications[applications < cutoff_value].index
# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [29]:
ask_amnt =application_df['ASK_AMT'].value_counts()
ask_amnt

5000        25398
10478           3
15583           3
63981           3
6725            3
            ...
5371754         1
30060           1
43091152        1
18683           1
36500179        1
Name: ASK_AMT, Length: 8747, dtype: int64

In [30]:
# Calculate the Z-score for the 'ASK_AMT' column
z_scores = (application_df['ASK_AMT'] - application_df['ASK_AMT'].mean()) / application_df['ASK_AMT'].std()

# Define a threshold to identify outliers (for example, z-score greater than 3)
outlier_threshold = 3

# Filter out rows with Z-scores above the threshold
application_df = application_df[(z_scores < outlier_threshold) & (z_scores > -outlier_threshold)]

# Check the distribution of ASK_AMT after removing outliers
application_df['ASK_AMT'].describe()

count    3.424600e+04
mean     6.828438e+05
std      7.955398e+06
min      5.000000e+03
25%      5.000000e+03
50%      5.000000e+03
75%      7.246250e+03
max      2.611646e+08
Name: ASK_AMT, dtype: float64

In [31]:
# Calculate the Q1 (25th percentile) and Q3 (75th percentile) values of the 'ASK_AMT' column
Q1 = application_df['ASK_AMT'].quantile(0.25)
Q3 = application_df['ASK_AMT'].quantile(0.75)

# Calculate the IQR (Interquartile Range)
IQR = Q3 - Q1

# Define the lower and upper bounds for outliers
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

# Filter out the outliers
application_df = application_df[(application_df['ASK_AMT'] >= lower_bound) & (application_df['ASK_AMT'] <= upper_bound)]

# Check the distribution of ASK_AMT after removing outliers
application_df['ASK_AMT'].describe()

count    25999.000000
mean      5059.789300
std        461.978384
min       5000.000000
25%       5000.000000
50%       5000.000000
75%       5000.000000
max      10607.000000
Name: ASK_AMT, dtype: float64

In [32]:
# Look at CLASSIFICATION value counts for binning
application_df['CLASSIFICATION'].value_counts()

C1000    12505
C2000     4681
C1200     3985
C2100     1617
C3000     1532
         ...
C2380        1
C1732        1
C1728        1
C4120        1
C2150        1
Name: CLASSIFICATION, Length: 64, dtype: int64

In [33]:
# You may find it helpful to look at CLASSIFICATION value counts >1
limiter = 1
applications_class = application_df['CLASSIFICATION'].value_counts()
classy = applications_class[applications_class > limiter]
print(classy)

C1000    12505
C2000     4681
C1200     3985
C2100     1617
C3000     1532
C7000      542
C1700      222
C4000      129
C5000      106
C1270       89
C2700       75
C7100       62
C2800       61
C1280       46
C1300       42
C1230       35
C2300       28
C1240       28
C1400       26
C7200       20
C6000       14
C1250       13
C8000       13
C7120       11
C1278       10
C8200        9
C1238        9
C1237        9
C1235        9
C1500        7
C1720        6
C7210        5
C1257        5
C1600        4
C4100        4
C2400        4
C1800        3
C1260        3
C0           2
C1267        2
C1246        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [34]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
cutoff_value_class = 1000
classifications_to_replace = applications_class[applications_class < cutoff_value_class].index

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    12505
C2000     4681
C1200     3985
Other     1679
C2100     1617
C3000     1532
Name: CLASSIFICATION, dtype: int64

In [ ]:
# Convert categorical data to numeric with `pd.get_dummies`
# application_df.dtypes
dummy_df = pd.get_dummies(application_df[['APPLICATION_TYPE', 'AFFILIATION', 'CLASSIFICATION', 'USE_CASE', 'ORGANIZATION', 'INCOME_AMT', 'SPECIAL_CONSIDERATIONS']])
merged_df = pd.concat([application_df, dummy_df], axis=1)
merged_df = merged_df.drop(['APPLICATION_TYPE', 'AFFILIATION', 'CLASSIFICATION', 'USE_CASE', 'ORGANIZATION', 'INCOME_AMT', 'SPECIAL_CONSIDERATIONS'], axis=1)
merged_df.head()
merged_df.tail()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
34294,1,5000,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
34295,1,5000,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
34296,1,5000,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34297,1,5000,1,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
34298,1,36500179,0,0,0,0,1,0,0,0,...,0,0,0,0,1,0,0,0,1,0

In [ ]:
# Split our preprocessed data into our features and target arrays
y = merged_df['IS_SUCCESSFUL'].values
X = merged_df.drop(['IS_SUCCESSFUL'],1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=8)

<ipython-input-10-23d043116dff>:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  X = merged_df.drop(['IS_SUCCESSFUL'],1).values

In [ ]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [ ]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train[0])
hidden_nodes_layer1 =  3
hidden_nodes_layer2 = 6

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="relu"))

# Check the structure of the model
nn.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 3)                 132

 dense_4 (Dense)             (None, 6)                 24

 dense_5 (Dense)             (None, 1)                 7

=================================================================
Total params: 163 (652.00 Byte)
Trainable params: 163 (652.00 Byte)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [ ]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [ ]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=100)

Epoch 1/100
804/804 [==============================] - 2s 2ms/step - loss: 1.1986 - accuracy: 0.6205
Epoch 2/100
804/804 [==============================] - 2s 3ms/step - loss: 0.7457 - accuracy: 0.6746
Epoch 3/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6776 - accuracy: 0.6857
Epoch 4/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6328 - accuracy: 0.6944
Epoch 5/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6056 - accuracy: 0.6956
Epoch 6/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5871 - accuracy: 0.7056
Epoch 7/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5797 - accuracy: 0.7156
Epoch 8/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5780 - accuracy: 0.7176
Epoch 9/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5771 - accuracy: 0.7178
Epoch 10/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5763 - accuracy: 0.7179
Epoch 11/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5774 - accuracy: 0.7166
Epoch 12/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5781 - accuracy: 0.7146
Epoch 13/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5735 - accuracy: 0.7182
Epoch 14/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5731 - accuracy: 0.7193
Epoch 15/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5748 - accuracy: 0.7186
Epoch 16/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5726 - accuracy: 0.7195
Epoch 17/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5718 - accuracy: 0.7201
Epoch 18/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5710 - accuracy: 0.7205
Epoch 19/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5701 - accuracy: 0.7208
Epoch 20/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5695 - accuracy: 0.7205
Epoch 21/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5679 - accuracy: 0.7218
Epoch 22/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5708 - accuracy: 0.7191
Epoch 23/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5692 - accuracy: 0.7210
Epoch 24/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5679 - accuracy: 0.7224
Epoch 25/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5672 - accuracy: 0.7214
Epoch 26/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5683 - accuracy: 0.7221
Epoch 27/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5669 - accuracy: 0.7210
Epoch 28/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5664 - accuracy: 0.7224
Epoch 29/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5655 - accuracy: 0.7226
Epoch 30/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5659 - accuracy: 0.7241
Epoch 31/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5652 - accuracy: 0.7249
Epoch 32/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5643 - accuracy: 0.7250
Epoch 33/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5643 - accuracy: 0.7246
Epoch 34/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5646 - accuracy: 0.7247
Epoch 35/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5636 - accuracy: 0.7226
Epoch 36/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5652 - accuracy: 0.7226
Epoch 37/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5650 - accuracy: 0.7269
Epoch 38/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5644 - accuracy: 0.7253
Epoch 39/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5649 - accuracy: 0.7256
Epoch 40/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5639 - accuracy: 0.7268
Epoch 41/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5635 - accuracy: 0.7254
Epoch 42/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5640 - accuracy: 0.7278
Epoch 43/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5647 - accuracy: 0.7269
Epoch 44/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5622 - accuracy: 0.7256
Epoch 45/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5618 - accuracy: 0.7264
Epoch 46/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5650 - accuracy: 0.7245
Epoch 47/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5664 - accuracy: 0.7210
Epoch 48/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5616 - accuracy: 0.7259
Epoch 49/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5612 - accuracy: 0.7272
Epoch 50/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5614 - accuracy: 0.7271
Epoch 51/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5629 - accuracy: 0.7273
Epoch 52/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5629 - accuracy: 0.7276
Epoch 53/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5628 - accuracy: 0.7277
Epoch 54/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5625 - accuracy: 0.7282
Epoch 55/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5618 - accuracy: 0.7281
Epoch 56/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5611 - accuracy: 0.7276
Epoch 57/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5629 - accuracy: 0.7250
Epoch 58/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5615 - accuracy: 0.7271
Epoch 59/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5646 - accuracy: 0.7240
Epoch 60/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5620 - accuracy: 0.7276
Epoch 61/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5613 - accuracy: 0.7284
Epoch 62/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5616 - accuracy: 0.7261
Epoch 63/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5616 - accuracy: 0.7267
Epoch 64/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5621 - accuracy: 0.7277
Epoch 65/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5614 - accuracy: 0.7287
Epoch 66/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5619 - accuracy: 0.7278
Epoch 67/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5615 - accuracy: 0.7283
Epoch 68/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5623 - accuracy: 0.7270
Epoch 69/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5619 - accuracy: 0.7277
Epoch 70/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5632 - accuracy: 0.7287
Epoch 71/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5635 - accuracy: 0.7266
Epoch 72/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5616 - accuracy: 0.7268
Epoch 73/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5645 - accuracy: 0.7245
Epoch 74/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5620 - accuracy: 0.7269
Epoch 75/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5613 - accuracy: 0.7280
Epoch 76/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5609 - accuracy: 0.7282
Epoch 77/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5612 - accuracy: 0.7274
Epoch 78/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5630 - accuracy: 0.7267
Epoch 79/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5607 - accuracy: 0.7273
Epoch 80/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5619 - accuracy: 0.7271
Epoch 81/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5665 - accuracy: 0.7198
Epoch 82/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5616 - accuracy: 0.7275
Epoch 83/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5613 - accuracy: 0.7280
Epoch 84/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5615 - accuracy: 0.7267
Epoch 85/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5605 - accuracy: 0.7268
Epoch 86/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5617 - accuracy: 0.7279
Epoch 87/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5636 - accuracy: 0.7271
Epoch 88/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5628 - accuracy: 0.7286
Epoch 89/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5618 - accuracy: 0.7274
Epoch 90/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5607 - accuracy: 0.7278
Epoch 91/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5619 - accuracy: 0.7277
Epoch 92/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5607 - accuracy: 0.7260
Epoch 93/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5611 - accuracy: 0.7272
Epoch 94/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5611 - accuracy: 0.7274
Epoch 95/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5607 - accuracy: 0.7269
Epoch 96/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5609 - accuracy: 0.7271
Epoch 97/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5610 - accuracy: 0.7285
Epoch 98/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5609 - accuracy: 0.7294
Epoch 99/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5611 - accuracy: 0.7278
Epoch 100/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5602 - accuracy: 0.7279

In [ ]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.5715 - accuracy: 0.7277 - 531ms/epoch - 2ms/step
Loss: 0.571541965007782, Accuracy: 0.7276967763900757

In [ ]:
# Export our model to HDF5 file
nn.save("AlphabetSoupCharity.h5")

/usr/local/lib/python3.10/dist-packages/keras/src/engine/training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(